<div>
        <div ng-repeat="record in vm.products" >
                <p>Name: {{record.name}}</p>
                <p>Price: {{record.price}}</p>
                <button ng-click="vm.add(record)">+</button>
        </div>
          
        <div style="border: 1px solid">
            <h5>There are {{vm.sumMessage()}} products in your cart, on value {{vm.cart.sum}}</h5>

            <div ng-repeat="record in vm.cart.cartProducts track by $index">
                <p>{{record.name}}</p>
                <p>{{record.price}}</p>
                <button ng-click="vm.remove(record)">-</button>
            </div>
        
        




        </div>



</div>